<% genre = ["Novela", "Policial", "Romantica", "Novela Historica", "Ciencia", "Poesia"] %>
<% language = ["English", "Castellano", "Catalan", "Italiano", "Frances", "Aleman"] %>
<%= simple_form_for :search, url: books_path, method: :get, class: 'display-flex' do |f| %>
  <div class="search-form-control">
    <div class="flex-container">
      <div class="search-item">
        <%= select_tag :genre,
          options_for_select([["Genero", ""], *genre.map { |g| [g, g] }]),
          class: "form-control rounded border-primary-darker"
        %>
      </div>
      <div class="search-item">
        <%= select_tag :language,
          options_for_select([["Idioma", ""], *language.map { |l| [l, l] }]),
          class: "form-control rounded border-primary-darker"
        %>
      </div>
      <div class="search-item">
        <%= text_field_tag :query, params[:query], class: "form-control rounded border-primary-darker", placeholder: "Buscar" %>
      </div>
      <div class="search-item">
        <%= text_field_tag :location,
            params[:location],
            class: "form-control rounded border-primary-darker desktop-only",
            placeholder: "Ubicación"
        %>
      </div>
      <div class="search-item mt-2">
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </div>
  </div>
<% end %>
