<%= render 'shared/banner' %>
<%= render 'shared/toast', message: 'Gracias por elegirnos!' %>

<div class="container">
  <div class="grid">
    <%= link_to books_path do %>
      <div class="home-options">
        <h3>Todos los Libros</h3>
        <i class="fa-solid fa-book"></i>
      </div>
    <% end %>
    <%= link_to book_search_path do %>
      <div class="home-options">
        <h3>Buscar Libros en Google</h3>
        <i class="fa-solid fa-search"></i>
      </div>
    <% end %>
    <%= link_to bookclubs_path do %>
      <div class="home-options">
        <h3>Clubes de Lectura</h3>
        <i class="fa-solid fa-users"></i>
      </div>
    <% end %>
    <%= link_to events_path do %>
      <div class="home-options">
        <h3>Eventos</h3>
        <i class="fa-solid fa-calendar"></i>
      </div>
    <% end %>
  </div>
</div>

