<% books.each do |book| %>
  <%= link_to book_path(book) do %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Titulo: <%= book.title %></h5>
        <p class="card-text">Autor: <%= book.author %></p>
        <p class="card-text">Descripcion: <%= book.description %></p>
        <p class="card-text">Genero: <%= book.genre %></p>
        <p class="card-text">Idioma: <%= book.language %></p>
        <p class="card-text">Usuario: <%= book.user.email %></p>
        <%# <%= link_to 'Solicitar', loan_path (book) %>
      </div>
    </div>
  <% end %>
<% end %>
