<div class="card">
  <div class="card-body">
    <h5 class="card-title">Titulo: <%= book.title %></h5>
    <p class="card-text">Autor: <%= book.author %></p>
    <p class="card-text">Descripcion: <%= book.description %></p>
    <p class="card-text">Genero: <%= book.genre %></p>
    <p class="card-text">Idioma: <%= book.language %></p>
    <p class="card-text">Usuario: <%= book.user.email %></p>
    <% if book.status == 'Available' %>
      <p class="card-text text-success">Disponible</p>
    <% else %>
      <p class="card-text text-danger">No Disponible hasta <%= book.loans.last.end_date %></p>
    <% end %>
    <% if book.user == current_user %>
      <%= render 'delete', book: book %>
    <% else %>
      <% if current_user.blocked == false && book.status == 'Available' %>
        <%= simple_form_for([book, @loan]) do |f| %>
        <%= f.submit 'Solicitar en Prestamo', class: 'btn btn-primary' %>
        <% end %>
      <% elsif current_user.blocked == true %>
        <p class="card-text text-danger">Usuario Bloqueado. Devuelva los libros pendientes para habilitar nuevos prestamos</p>
      <% end %>
    <% end %>
  </div>
</div>
