<div class="card">
  <div class="card-body">
    <h5 class="card-title">Libro: <%= loan.book.title %></h5>
    <p class="card-text">Fecha de Prestamo: <%= loan.start_date %></p>
    <p class="card-text">Fecha de Devolución: <%= loan.end_date %></p>
    <% if loan.status == 'Pending' %>
      <p class="card-text text-warning">Estado: Pendiente</p>
    <% elsif loan.status == 'Accepted' %>
      <p class="card-text text-success">Estado: Activo</p>
    <% elsif loan.status == 'Overdue' %>
      <p class="card-text text-danger">Estado: Vencido. Devolver!</p>
    <% end %>
    <%= link_to user_path(loan.book.user) do %>
      <p class="card-text">Dueno: <%= loan.book.user.email %></p>
    <% end %>
  </div>

  <% if loan.status == "Pending" && loan.owner_id == current_user.id %>
    <%= render 'accept', loan: loan %>
    <%= render 'reject', loan: loan %>
  <% end %>

  <% if loan.status == "Accepted" && loan.owner_id == current_user.id %>
    <%= render 'return', loan: loan %>
  <% end %>

  <% if loan.end_date && loan.borrower_id == current_user.id %>
    <% if (loan.end_date - Date.today).to_i <= 7 %>
      <%= render 'extension_request', loan: loan %>
    <% end %>
  <% end %>

  <% if loan.extension == 'Extension Requested' && loan.owner_id == current_user.id %>
    <%= render 'extension_accept', loan: loan %>
    <%= render 'extension_reject', loan: loan %>
  <% end %>

  <% if loan.status == 'Completed' %>
    <%= render 'reviews/form', loan: loan %>
    <% if loan.reviews.any? %>
      <%= render 'reviews/reviews', reviews: loan.reviews %>
    <% end %>
  <% end %>
</div>
