<div class="card">
      <div class="card-body">
        <h5 class="card-title">Libro: <%= loan.book.title %></h5>
        <p class="card-text">Fecha de Prestamo: <%= loan.start_date %></p>
        <p class="card-text">Fecha de Devolución: <%= loan.end_date %></p>
        <p class="card-text"><%= loan.status %></p>
        <p class="card-text">Dueno: <%= loan.book.user.email %></p>
      </div>
      <% if loan.status == "Pending" && loan.owner_id == current_user.id %>
        <%= render 'accept', loan: loan %>
        <%= render 'reject', loan: loan %>
      <% end %>
    </div>
