<div class='container'>
  <h1>Prestamos</h1>

  <h3>Activos</h3>
  <%= render 'loans_list', loans: @loans %>
  <h3>Pendientes de aceptacion por el dueno</h3>
  <%= render 'loans_list', loans: @requested_loans %>
  <h3>Overdue</h3>
  <%= render 'loans_list', loans: @overdue_loans_borrower %>
</div>

<div class='container'>
  <h3>Solicitud de prestamos recibidas</h1>
  <%= render 'loans_list', loans: @loans_pending %>
  <h3>Libros prestados</h1>
  <%= render 'loans_list', loans: @books_leant %>
  <h3>Prestados con overdue</h3>
  <%= render 'loans_list', loans: @overdue_loans_owner %>

</div>

<%= console %>
