<div class='container'>
  <h2>Mis Prestamos</h2>

  <h4>Activos</h4>
  <%= render 'loans_list', loans: @loans %>
  <h4>Pendientes</h4>
  <%= render 'loans_list', loans: @requested_loans %>
  <h4>Vencidos</h4>
  <%= render 'loans_list', loans: @overdue_loans_borrower %>
  <h4>Finalizados</h4>
  <%= render 'loans_list', loans: @completed_loans_borrower %>
</div>

<div class='container'>
  <h2>Mis Libros Prestados</h2>

  <h4>Solicitud de prestamos</h4>
  <%= render 'loans_list', loans: @loans_pending %>
  <h4>Libros prestados</h4>
  <%= render 'loans_list', loans: @books_leant %>
  <h4>Vencidos</h4>
  <%= render 'loans_list', loans: @overdue_loans_owner %>
  <h4>Finalizados</h4>
  <%= render 'loans_list', loans: @completed_loans %>

</div>
