<div class='card'>
  <div class='card-body'>
     <h5 class="card-title">Titulo: <%= bookclub.name %></h5>
      <p class='card-text'>Tipo: <%= bookclub.genre %></p>
      <p class='card-text'> Descripcion: <%= bookclub.description %></p>
      <p class='card-text'> Numero de miembros <%= bookclub.max_members %></p>
      <p class='card-text'> Privacidad <%= bookclub.privacy %></p>
      <p class='card-text'> Donde?? <%= bookclub.location %></p>
      <p class='card-text'> Fecha y hora: <%= bookclub.meeting_schedule %></p>
      <p class='card-text'>Organiza: <%= User.find(bookclub.organizer_id).email %></p>
      <% if bookclub.privacy == 'Public' && bookclub.max_members > bookclub.members.count %>
        <%= simple_form_for [bookclub, @member] do |f| %>
          <%= f.submit 'Unirse' %>
        <% end %>
      <% end %>
  </div>
</div>
