<div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card rounded-3 shadow mt-3 bg-primary">
        <div class="card-body">
          <%= simple_form_for(@bookclub) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :organizer_id, as: :hidden, input_html: { value: current_user.id } %> <!-- assuming you have a current_user method -->
            <%= f.input :location %>
            <%= f.input :max_members %>
            <%= f.input :privacy, collection: ['Public', 'Private'], prompt: 'Select Privacy' %>
            <%= f.input :genre %>
            <%= f.input :meeting_schedule, as: :date %>
            <%= f.button :submit %>
          <% end %>
      </div>
      </div>
    </div>
  </div>
